[submodule "Swadl"]
	path = Swadl
	url = https://github.com/ehearty/Swadl.git
[submodule "jor1k"]
	path = jor1k
	url = https://github.com/ehearty/jor1k
[submodule "chrome-app-samples"]
	path = chrome-app-samples
	url = https://github.com/ehearty/chrome-app-samples.git
